# History files
.Rhistory
.RData
.Rproj.user
.Ruserdata

# macOS hidden file
.DS_Store

# fastq files

 #ignore whole fastq directory 
data/raw/fastq

#ignore fastq.gz
*.fastq.gz

#ignore .fastq files
*.fastq